:global {
    .ant-layout-header {
        padding: 16px 24px;
        height: inherit;
        line-height: var(--font-line-height);
        background: var(--primary-light-1);

        .ant-typography + h1.ant-typography, .ant-typography + h2.ant-typography, .ant-typography + h3.ant-typography, .ant-typography + h4.ant-typography, .ant-typography + h5.ant-typography {
            margin-top: 0;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: auto 130px;
    grid-row-gap: 16px;

    .path {
        font-size: var(--font-size-14);
    }

    .title {
        font-weight: var(--font-weight-bold);
        grid-row-start: 2;
        margin: 0;
    }

    .button {
        border: none;
        box-shadow: none;
        background-color: inherit;
        grid-row-start: 2;
    }
}

