:global {
    .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
        width: 100%;
    }
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
    grid-template-areas: 'sider page';
    grid-template-columns: auto 1fr;

    .page {
        grid-area: page;
        background: no-repeat right/cover url('src/assets/background/Main-page_light.webp');
        @media screen and (max-width: 576px) {
            position: absolute;
        }
    }
}
